// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,700');

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Re-define BS colors
$yellow: #FBB040;
$red: #DD2B45;
$purple: #8C4160;
$green:#00A14B;

// Define new colors
$beige:#FFF9EE;
$burgundy:#5E1834;

// Map colors
$colors: ("yellow":#FBB040, "red":#DD2B45, "purple":#8C4160, "green":#00A14B, "beige":$beige, "burgundy":$burgundy);

//Map theme-colors
$theme-colors: ("primary": $purple, "danger":$red, "success":$green, "warning":$yellow, "dark":$burgundy, "light":$beige);

// customize theme
$body-bg: $yellow;
$font-family-sans-serif: 'IBM Plex Sans',
sans-serif;
$headings-font-family:'IBM Plex Sans',
sans-serif;
$input-font-family: 'IBM Plex Sans',
sans-serif;
$headings-color: $burgundy;
$headings-font-weight: 700;
$input-focus-color: $burgundy;
$input-focus-bg:$beige;
$input-focus-border-color:#FFDEAD;

// Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

main {
    padding: $spacer*2.5 0;
}

p {
    color: $burgundy;
    font-family: $font-family-sans-serif;
}

a {
    color: $burgundy;
    text-decoration: underline;
    font-family: $font-family-sans-serif;

    &:hover {
        color: $purple;
    }
}

.deco {
    background-image: url(../img/pattern.svg);
    height: 32px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        height: 36px;
    }
}

.logo {
    width: 140px;
    height: auto;

    @include media-breakpoint-down(sm) {
        width: 80vw;
        max-height: 200px;
    }
}

footer {
    color: white;

    a {
        color: $yellow;

        &:hover {
            color: white;
        }
    }

    hr {
        border-color: white;
    }

    .top {
        min-height: 150px;
        background: url(../img/cactus.svg) 20% 110% no-repeat, url(../img/cactus.svg) 90% 130% no-repeat, url(../img/cactus.svg) 69% 105% no-repeat;
        background-size: 50px, 69px, 29px;

        @include media-breakpoint-down(sm) {
            min-height: 100px;
            background-size: 50px, 0, 29px;
        }
    }

    .bottom {
        padding: $spacer*2.5;
        background-color: $burgundy;
    }

    li.list-inline-item:not(:last-child) {
        margin-right: 2rem;
    }
}

label {
    color: $burgundy;
    font-weight: $font-weight-bolder;
    font-size: $font-size-sm;
}


.form-control {
    display: block;
    width: 100%;
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
    color: $burgundy;
    background-color: transparent;
    border: 3px solid $burgundy;

    @include border-radius($input-border-radius, 0);

    // Placeholder
    &::placeholder {
        color: $purple;
    }
}

select.form-control {
    &:focus::-ms-value {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: transparent;
    }
}

.custom-select {
    border-radius: 0 !important;
    color: $burgundy;
}

select {
    border-radius: 0;

    &.custom-select {
        border: 3px solid $burgundy;
        background: transparent;

        &:focus {
            border-color: #FFDEAD;
            background: $beige;
        }
    }
}
